body {
    background-color: rgb(227, 111, 111);
    overflow: hidden;
}
div {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
h1 {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}